{% extends "./basevol.html" %}
{% block title %}Events {% endblock title %}
{% block body %}

<link rel="stylesheet" href="/static/css/home.css" />
<h3 class="titleupcoming">Upcoming Events</h3>

<!--- Event Card -->
<div class="container">
    {% for event in events %}
   
    <div class="event-card">
        <center>
            <div class="event-image"></div>
        </center>
        <div class="event-details">
            <a href="/volunteer/events/{{event.event_id}}"><h2>{{ event.event_name }}</h2></a>
            <p>Date & Time: {{event.event_date}}, {{event.event_time}} - {{event.event_end_time}}</p>
            <p>Location: {{event.event_location}}</p>
            <a href='/volunteer/events/{{event.event_id}}'><button>View details</button></a>
            {% if not unregistered %}
            <a href="/volunteer/apply/{{event.event_id}}"><button>Apply Now</button></a>
            {% else %}
            
            <a href="/volunteer/unregister/{{event.event_id}}"><button>Unregister</button></a>
            {% endif %}w
        </div>
        {% empty %}
        <p>No active events found.</p>
        {% endfor %}
    </div>

    <br>
    <br>
    <br>

<h3 class="prev-event">Previous Events</h3>

<!--- Event Card -->

<div class="container">
    {% for events in events_ex %}
    <div class="event-card">
        <center>
            <div class="event-image"></div>
        </center>
        <div class="event-details">
            <a href="/volunteer/events/{{events.event_id}}"><h2>{{ events.event_name }}</h2></a>
            <p>Date & Time: {{events.event_date}}, {{events.event_time}} - {{events.event_end_time}}</p>
            <p>Location: {{events.event_location}}</p>
            
            <p>Event Completed</p>
             
        </div>
        {% empty %}
        <p>No past events found.</p>
        {% endfor %}
    </div>

{% endblock body %}