body {
    font-family: Arial, sans-serif;
    background-color: #fdfdfd;
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    width: 100%;
}

.title {
    color: #007bff;
    margin-bottom: 20px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image {
    max-width: 42%;
    border-radius: 10px;
}

.info {
    max-width: 55%;
    text-align: left;
}

.info h2 {
    margin-bottom: 10px;
}

.info p {
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 25px;
    font-size: 17px;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 810px) {
    .container {
        width: 80%;
    }
}