body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    margin: 0;
    background-color: #f0ece2;
}

::selection {
    background-color: #006989;
    color: #fff;
}

.form-container {
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #fff;
    box-sizing: border-box;
}

h3 {
    text-align: center;
    font-size: 2rem;
    color: #006989;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.left-side, .middle-side, .right-side {
    flex: 1;
    margin: 10px;
    min-width: 280px;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #006989;
    font-size: 18px;
}

input, textarea, button {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    height: 80px;
    resize: none;
}

.full-width {
    flex-basis: 100%;
    text-align: center;
}

button {
    width: 200px;
    cursor: pointer;
    font-size: 20px;
    background-color: #006989;
    color: #fff;
    border-radius: 10px;
}

button:hover {
    background-color: #005f7a;
}

@media (max-width: 1200px) {
    .left-side, .middle-side, .right-side {
        flex: 0 0 100%;
        min-width: auto;
    }

    .form-container {
        padding: 20px;
        margin: 15px;
    }

    form {
        gap: 10px;
    }

    label, input, textarea {
        font-size: 14px;
    }
}

@media (max-width: 900px) {
    .left-side, .middle-side, .right-side {
        flex: 0 0 100%;
        min-width: auto;
    }

    .form-container {
        padding: 15px;
        margin: 20px;
    }

    form {
        gap: 10px; 
    }

    label, input, textarea {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .left-side, .middle-side, .right-side {
        flex: 0 0 100%; 
        min-width: auto;
    }

    .form-container {
        padding: 10px;
        margin: 25px;
    }

    form {
        gap: 5px; 
    }

    label, input, textarea {
        font-size: 12px;
    }
}
