body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.event-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    text-align: center;
}

.event-image {
    background: url('corporate-events-3.jpg') center/cover no-repeat;
    height: 150px;
}

.event-details {
    padding: 20px;
}

.event-details h2 {
    margin: 0;
    font-size: 1.5em;
}

.event-details p {
    margin: 10px 0;
}

button {
    background-color: #2b2929;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 17.5px;
}

button:hover {
    background-color: #211b1b;
}

@media (max-width: 1200px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
}
