@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #dfd3c3;
}

.container-fluid {
    max-width: 100%;
}

.post {
    text-align: center;
    color: black;
}

.post-container {
    background-color: #dfd3c3;
    text-align: center;
    max-width: 700px;
    border-radius: 10px;
    border-width: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    background-color: #dfd3c3;
    border: 1px solid black;
    margin: 5px;
    border-radius: 5px;
    position: relative;
}

.posts:hover {
    transition: all 0.4s ease-in-out;
}

h1 {
    text-align: center;
    margin-top: 2rem;
}

table {
    background-color: #f0ece2;
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #006989;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

table th,
table td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
}

table tbody tr {
    border-bottom: 1px solid #f0ece2;
}

table tbody tr:nth-of-type(even) {
    background-color: #f0ece2;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #f0ece2;
}

table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
