body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dfd3c3;
    color: #333;
    margin-top: 3rem;
}

::selection {
    background-color: #006989;
    color: #fff;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#services {
    text-align: center;
    padding: 50px 0;
}

#services h1 {
    font-size: 40px;
    margin-bottom: 10px;
    color: #006989;
}

#services p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
    line-height: 1.4;
}

.services-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-item {
    background: #f0ece2;
    padding: 20px;
    margin: 10px;
    border-radius: 25px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.service-item i {
    height: 10px;
}

.service-item img {
    width: 50px;
    margin-bottom: 10px;
}

.service-item h3 {
    margin-bottom: 10px;
    font-size: 22px;
    color: #006989;
}

.service-item p {
    font-size: 14px;
    color: #777;
}

.service-item i {
    font-size: 40px;
    color: #006989;
    margin-bottom: 20px;
}

.learn-more {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 30px;
    background: #006989;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
}

.learn-more:hover {
    background: #0283aa;
}

@media (max-width: 500px) {
    .service-item {
        width: 100%;
    }
}