body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0ece2;
}

::selection {
    background-color: #006989;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

header {
    position: fixed;
    top: 0;
    width: 97.7%;
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: #dfd3c3;
    height: 35px;
}

header h1 {
    margin: 0;
    font-size: 2em;
    color: #006989;
}

main {
    flex-grow: 1;
    padding: 20px 20px 20px 20px;
    overflow-y: auto;
}

.content {
    max-width: 800px;
    margin: 0 auto;
}

.content h3 {
    font-size: 25px;
}

p {
    color: #006989;
    font-size: 16px;
}

h1 {
    color: #005580;
    text-align: center;
}

h2 {
    color: #005580;
    margin-top: 20px;
}

.last-updated {
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 10px;
    color: #006989;
}

address {
    margin-top: 20px;
    font-style: normal;
}

strong {
    color: #000;
}

span {
    color: #000;
    font-weight: 600;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    z-index: 100;
    background-color: #dfd3c3;
    height: 60px;
}

footer button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 10px;
}

#decline {
    background-color: #f95252;
    color: #fff;
}

#decline:hover {
    background-color: #f84d4d;
}

#accept {
    background-color: #006989;
    color: #fff;
}

#accept:hover {
    background-color: #037fa4;
}
