@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::selection {
  background-color: #006989;
  color: #fff;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0ece2;
  padding: 15px;
}

.form {
  max-width: 800px;
  width: 100%;
  padding: 30px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  font-size: 28px;
  font-weight: 600;
  color: #006989;
  text-align: center;
  margin-bottom: 20px;
}

form {
  margin-top: 30px;
}

.field-group {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.field-group .field {
  width: 48%;
}

.field {
  margin-top: 20px;
  position: relative;
  border-radius: 6px;
}

.field input,
.field textarea,
.field select {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #cacaca;
  border-radius: 6px;
  outline: none;
}

.field textarea {
  height: 58px;
  resize: none;
}

.field label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.field button {
  background-color: #006989;
  color: #ffffff;
  transition: all 0.3s ease;
  cursor: pointer;
  height: 45px;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  width: 100%;
  margin-top: 20px;
}

.field button:hover {
  background-color: #037da2;
}

p {
  font-size: 14px;
  color: #666;
  /* margin-right: 90px;  */
  /* align-items: center;
  text-align: center; */
}


@media (max-width: 975px) {
  .form {
    height: 100%;
  }
}