<!--Alert Message will be displayed if any activity takes place -->
{% if messages %}
  {% for message in messages %}
    <div class="custom-alert custom-alert-{{ message.tags }}">
      {{ message }}
      <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
    </div>
  {% endfor %}
{% endif %}

<!--Linked CSS file of the page-->
<link rel="stylesheet" href="../static/css/Add_Events.css">

<!--Main form container-->
<div class="form-container">
  <h3>Add Event</h3>
  <form id="eventForm" action ='{% url "add_event" %}' method = "post">
    <!--Total 13 fields are used to get information for adding event on Company Dashboard-->
    {% csrf_token %}
      <div class="left-side">
          <label for="eventName">Event Name:</label>
          <input type="text" id="eventName" name="eventName" required>

          <label for="location">Location:</label>
          <input type="text" id="location" name="location" required>

          <label for="skills_needed">Skills Needed:</label>
          <textarea id="skills_needed" name="skills_needed" required></textarea>

          <label for="date">Date:</label>
          <input type="date" id="date" name="date" required>
      </div>
      <div class="middle-side">
          <label for="time">Start Time:</label>
          <input type="time" id="time" name="time" required>

          <label for="etime">End Time:</label>
          <input type="time" id="etime" name="etime" required>

          <label for="eventDescription">Event Description:</label>
          <textarea id="eventDescription" placeholder="Provide details such as event schedule, activities, dress code,expected turnout, amenities provided, safety protocols, etc." name="eventDescription" required></textarea>


          <label for="ratePerPerson">Rate per Person:</label>
          <input type="number" id="ratePerPerson" name="ratePerPerson" required>
      </div>
      <div class="right-side">
          <label for="requiredVolunteers">Required Number of Volunteers:</label>
          <input type="number" id="requiredVolunteers" name="requiredVolunteers" required>

          <label for="companyRep">Company Representative Name:</label>
          <input type="text" id="companyRep" name="companyRep" required>

          <label for="contactNo">Contact No:</label>
          <input type="text" id="contactNo" name="contactNo" pattern="\d{10}" title="Please enter exactly 10 digits" required>
          <span id="contactError" class="error-message"></span>

          <label for="event_city">City:</label>
          <input type="text" id="event_city" name="event_city" required>

          <label for="location_link">Location Link:</label>
          <input type="text" id="location_link" name="location_link" required>
      </div>
      <div class="full-width">
        <!--Once all data is entered submit button will createe the event successfully-->
          <button type="submit">Submit</button>
      </div>
  </form>
  <!--End of the form-->
</div>
<!--Link for JavaScript file of the page-->
<script src="../static/js/Add_Events.js"></script>

{% endblock body %}
<!--End of the page-->
