{% extends "company_dashboard.html" %}

{% block title %}{{company_name}}{% endblock title %}

{% block body %}
<link rel="stylesheet" href="/static/css/all_events.css" />
<div>
  <p class="fs-1">Welcome, {{company_name}} !</p>
</div>
<br>
<br>
<div class="flex-wrapper">
  <div class="single-chart">
    <svg viewBox="0 0 36 36" class="circular-chart blue">
      <path class="circle-bg"
        d="M18 2.0845
           a 15.9155 15.9155 0 0 1 0 31.831
           a 15.9155 15.9155 0 0 1 0 -31.831"/>
      <path class="circle"
        stroke-dasharray="{{events_no}}, 100"
        d="M18 2.0845
           a 15.9155 15.9155 0 0 1 0 31.831
           a 15.9155 15.9155 0 0 1 0 -31.831"/>
      <text x="18" y="20.35" class="percentage">{{num_active}}</text>
    </svg>
    <p style="font-size: 2rem; color: black; text-align: center;"><strong>Upcoming Events</strong></p>
  </div>
  
  <div class="single-chart">
    <svg viewBox="0 0 36 36" class="circular-chart blue">
      <path class="circle-bg"
        d="M18 2.0845
           a 15.9155 15.9155 0 0 1 0 31.831
           a 15.9155 15.9155 0 0 1 0 -31.831"/>
      <path class="circle"
        stroke-dasharray="{{total}},100"
        d="M18 2.0845
           a 15.9155 15.9155 0 0 1 0 31.831
           a 15.9155 15.9155 0 0 1 0 -31.831"/>
      <text x="18" y="20.35" class="percentage">{{total}}/{{required}}</text>
    </svg>
    <p style="font-size: 2rem; color: black; text-align: center;"><strong>Volunteers Registered</strong></p>
  </div>
  
  <div class="single-chart">
    <p style="font-size: 2rem; color: #006989; text-align: center; margin-top: 3rem;">{{total_events_no}} <br> Events Completed</p>
  </div>
</div>
<br><br>
<h1>Upcoming Events</h1>
<div class="post-container">
  {% if not events %}
  <p><center>No Upcoming Events Found !!!</center></p>
  {% endif %}
  {% for p1 in events|slice:":4" %}
  <div class="container">
    <h1><a class="post" href="/company/events/{{ p1.event_id }}">{{ p1.event_name }}</a></h1>
    <h4><strong>Company Name:</strong> <span id="event_company"><a href="/company/profile/{{p1.company_id}}/">{{ p1.event_company }}</a></span></h4>
    <div class="description-container">
      <p class="description" id="description-{{ p1.event_id }}"><strong>Event Description:</strong> {{ p1.event_description }}</p>
    </div>
  </div>
  {% endfor %}
</div>
<br><br>
<h1>Expired Events</h1>

{% if not events_ex %}
<p><center>No Expired Events Found !!!</center></p>
{% endif %}

<div class="post-container">
  {% for r1 in events_ex|slice:":4" %}
  <div class="container">
    <h1><a class="post" href="/company/events/{{ r1.event_id }}">{{ r1.event_name }}</a></h1>
    <h4><strong>Company Name:</strong> <span id="event_company"><a href="/company/profile/{{r1.company_id}}/">{{ r1.event_company }}</a></span></h4>
    <div class="description-container">
      <p class="description" id="description-{{ r1.event_id }}"><strong>Event Description:</strong> {{ r1.event_description }}</p>
    </div>
    <div class="field button-field">
      {% if not r1.paid_status %}
      <a href="/company/payment/{{r1.event_id}}"><button type="button">Pay Now</button></a>
      {% else %}
      <button type="button">Already Paid</button>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>

{% endblock body %}

