<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% endblock title %} | Any Time Event </title>
  <link rel="stylesheet" href="/static/css/navbar.css" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css" />
  <link rel="icon" type="image/png" sizes="16x16" href="/static/img/Any-Time-Event-Logo.png">
</head>

<body>
  <nav>
    <input type="checkbox" id="check" />
    <label for="check" class="checkbtn">
      <img class="menu" src="/static/img/bars.svg" alt="Bars" />
    </label>
    <label class="logo"><img src="/static/img/Any-Time-Event-Logo.png" alt="Logo"></label>
    <ul>
      <li><a href="/">Home</a></li>
      {% if 'email' in request.session %}
      {% if request.session.role == "volunteer" %}
      <li><a href="/volunteer/events">Dashboard</a></li>
      {% else %}
      <li><a href="/company/events">Dashboard</a></li>
      {% endif %}
      {% endif %}
      <li><a href="/review">Reviews</a></li>
      <li><a href="/about-us">About </a></li>
      <li><a href="/contact-us">Contact</a></li>
      {% if 'email' not in request.session %}
      <button class="log-butt"><a href="/auth/login">Login</a></button>
      {% else %}
      <button class="log-butt"><a href="/auth/logout">Logout</a></button>
      {% endif %}
    </ul>
  </nav>
  {% block body %}{% endblock body %}


</body>

</html>