{% block title %}Clients Review{% endblock title %}
{% block body %}
{% if messages %}
  {% for message in messages %}
    <div class="custom-alert custom-alert-{{ message.tags }}">
      {{ message }}
      <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
    </div>
  {% endfor %}
{% endif %}


<link rel="stylesheet" href="../static/css/Clients_Review.css">

<div class="reviews-container">
    <h1 class="title">CLIENTS <span class="highlight">REVIEW</span></h1>
    <div class="reviews">
        <div class="review-card">
            <img src="../static/img/Any-Time-Event-Logo.png" alt="Image" class="client-img">
            <h3 class="client-name">Yagnik Sir</h3>
            <p class="client-status">Happy Client</p>
            <p class="review-text">
                Lorem Ipsum Dolor Sit, Amet Consectetur Adipisicing Elit. Blanditiis Doloribus Aperiam Officia Culpa Voluptatibus Ea Saepe, Tempora Iusto Ab Laborum Expedita Laboriosam Quis Illo Odio Alias, Assumenda Consequatur Autem Omnis?
            </p>
        </div>
        <div class="review-card">
            <img src="../static/img/Any-Time-Event-Logo.png" alt="Image" class="client-img">
            <h3 class="client-name">Alpesh Sir</h3>
            <p class="client-status">Happy Client</p>
            <p class="review-text">
                Lorem Ipsum Dolor Sit, Amet Consectetur Adipisicing Elit. Blanditiis Doloribus Aperiam Officia Culpa Voluptatibus Ea Saepe, Tempora Iusto Ab Laborum Expedita Laboriosam Quis Illo Odio Alias, Assumenda Consequatur Autem Omnis?
            </p>
        </div>
        <div class="review-card">
            <img src="../static/img/Any-Time-Event-Logo.png" alt="Image" class="client-img">
            <h3 class="client-name">Umang Sir</h3>
            <p class="client-status">Happy Client</p>
            <p class="review-text">
                Lorem Ipsum Dolor Sit, Amet Consectetur Adipisicing Elit. Blanditiis Doloribus Aperiam Officia Culpa Voluptatibus Ea Saepe, Tempora Iusto Ab Laborum Expedita Laboriosam Quis Illo Odio Alias, Assumenda Consequatur Autem Omnis?
            </p>
        </div>
    </div>
</div>

{% endblock body %}