{% extends "base.html" %}
{% block title %}Company Data {% endblock title %}
{% block body %}

<link rel="stylesheet" href="../static/css/Company_Data.css">

<section class="container forms">
    <div class="form login">
        <div class="form-content">
            <header>Company Data</header>

            <form action="#">
                <div class="field input-field">Website
                    <input type="text" class="input">
                </div><br>
                <div class="field input-field">Alternate contact no
                    <input type="number" class="input">
                </div><br>

                <div class="field input-field">Company Address
                    <textarea class="input" required style=" border: 1px solid #d2d4dc;"></textarea>
                </div><br>

                <div class="field input-field">Description
                    <textarea class="input" required style="  border: 1px solid #d2d4dc;"></textarea>
                </div><br>

                <div class="field input-field">Company Card
                    <input type="file" class="input" required>
                </div><br>

                <div class="field input-field">Company Logo
                    <input type="file" class="input" required>
                </div>

                <br>

                <div class="field button-field">
                    <button>Signup</button>
                </div>
            </form>

        </div>

    </div>
</section>

{% endblock body %}