{% extends "base.html" %}
{% block title %}Company Data {% endblock title %}
{% block body %}
{% if messages %}
      {% for message in messages  %}
      <div class="alert alert-{{message.tags}} alert-dismissible fade show my-0 py-2" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
{% endif %}

<link rel="stylesheet" href="../static/css/Company_Data.css">

<section class="container forms">
    <div class="form login">
        <div class="form-content">
            <header>Company Data</header>

            <form action="{% url "companyinfo" %}" method="post">
                <div class="field input-field">Website
                    <input type="text" name="website_company" class="input">
                </div><br>
                <div class="field input-field">Alternate contact no
                    <input type="number"  name="contact_no_2" class="input">
                </div><br>

                <div class="field input-field">Company Address
                    <textarea class="input" name="company_address" required style=" border: 1px solid #d2d4dc;"></textarea>
                </div><br>

                <div class="field input-field">Description
                    <textarea class="input" name="company_description" required style="  border: 1px solid #d2d4dc;"></textarea>
                </div><br>

                <div class="field input-field">Company Card
                    <input type="file" enctype="multipath\form-data" name="company_card" class="input" required>
                </div><br>

                <div class="field input-field">Company Logo
                    <input type="file" enctype="multipath\form-data" name="company_logo" class="input" required>
                </div>

                <br>
                <p>*Image should be of .png , .jpg , .jpeg only</p>
                <div class="field button-field">
                    <button>Signup</button>
                </div>
            </form>

        </div>

    </div>
</section>

{% endblock body %}