<!--Navbar Extended-->
{% extends "base.html" %}
{% block title %}Volunteer Data {% endblock title %}
{% block body %}
<!--Alert Message will be displayed if any activity takes place -->
{% if messages %}
  {% for message in messages %}
    <div class="custom-alert custom-alert-{{ message.tags }}">
      {{ message }}
      <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
    </div>
  {% endfor %}
{% endif %}

<link rel="stylesheet" href="/static/css/user_data.css"><!--Linked CSS file-->

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<!--Main Container-->
<section class="container forms">
    <div class="form login">
        <div class="form-content">
     <!--Here all fields are available for Volunteer details to be Edited -->
            <header>Edit Details of Volunteer</header>
            <form id="volunteerForm" action ='/volunteer/editprofile/{{volunteer.vol_id}}/' method = "post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="field-group">
                <div class="field input-field">
                    <label for="name">Name :</label>
                    <input type="text" name="name" class="input" value = {{volunteer.name}} required>
                </div>
                <div class="field input-field">
                    <label for="phone">Contact No. :</label>
                    <input type="number" name="phone" value = {{volunteer.phone}} class="input" required>
                </div>
            </div>
            <div class="field-group">
                <div class="field input-field">
                    <label for="dob">Date of Birth :</label>
                    <input type="date" name="dob" value = {{volunteer.dob}} class="input" id="birthdate" required>
                </div>
                <div class="field input-field">
                    <label for="emergency_contact">Emergency Contact No. :</label>
                    <input type="number" name="emergency_contact" value = {{volunteer.emergency_contact}} class="input" required>
                </div>
            </div>

            <div class="field-group">
                <div class="field input-field">
                    <label for="experience">Experience :</label>
                    <textarea class="input" name="experience"  required>{{volunteer.experience}}</textarea>
                </div>
                <div class="field input-field">
                    <label for="skills">Skills :</label>
                    <textarea class="input" name="skills" required> {{volunteer.skills}}</textarea>
                </div>
            </div>

            <div class="field-group">
                <div class="field input-field">
                    <label for="qualification">Qualification :</label>
                    <select name="qualification" id="qualification" required>
                        <option value="employee">Employee</option>
                        <option value="student">Student</option>
                        <option value="volunteer">Others</option>
                    </select>
                </div>
                <div class="field input-field">
                    <label for="city">City :</label>
                    <input type="text" name="city" value = {{volunteer.city}} class="input"  required>
                </div>
            </div>
            
            <div class="field input-field">
                <label for="profile_picture">Profile Picture</label>
                <input type="file" name="profile_picture" class="input" >
                <span class="right-text"><p>*Image should be of .png, .jpg, .jpeg only</p>
                </div>
            </div>              

            <div class="field button-field">
        <!--After  the necessary updation,Submit button will send the updated details to Database-->
                <button value="submit" name="submit">Update details</button>
            </div>
        </form>
        <!--End of form-->
    </div>
</div>
</section>

<script src="../static/js/user_data.js"></script><!--Linked JavaScript file-->
{% endblock body %}
<!--End of page-->