<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="../static/css/profile.css">
</head>
<body>
    <div class="profile-container">
        <div class="profile-header">
            <img src="" alt="Profile Picture" class="profile-picture" id="profile-picture">
        </div>
        <div class="profile-details">
            <h2>Events Name</h2>
            <p><strong>Date & Time:</strong> <span id="phone">{{user1.name}}</span></p>
            <p><strong>Location:</strong> <span id="email">{{user1.email}}</span></p>
            <p><strong>Description:</strong> <span id="phone">{{user1.phone}}</span></p>
            <p><strong>Number of Volunteers:</strong> <span id="phone">{{user1.gender}}</span></p>
            <p><strong>Rate:</strong> <span id="phone">{{user1.age}}</span></p>
            <p><strong>Location Link:</strong> <span id="phone">{{user1.phone}}</span></p>
            <p><strong>Skills:</strong> <span id="phone">{{user1.phone}}</span></p>
            <p><strong>Company Representative:</strong> <span id="phone">{{user1.phone}}</span></p>
            <p><strong>Security Deposit:</strong> <span id="phone">{{user1.phone}}</span></p>
        </div>

</body>
</html> 
