<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{event.event_name}} | Event</title>
    <link rel="stylesheet" href="../static/css/profile.css">
</head>
<body>
    <div class="profile-container">
        <div class="profile-details">
            <h2>{{Event.event_name}}</h2>
            <p><strong>Date & Time:</strong> <span id="phone">{{event.event_date}} &nbsp;&nbsp;{{event.event_time}}</span></p>
            <p><strong>Location:</strong> <span id="email">{{event.event_location}}</span></p>
            <p><strong>Description:</strong> <span id="phone">{{event.event_description}}</span></p>
            <p><strong>Number of Volunteers:</strong> <span id="phone">{{event.event_vol}}</span></p>
            <p><strong>Rate:</strong> <span id="phone">{{event.actual_amount}}</span></p>
            <p><strong>Location Link:</strong> <span id="phone"><a  href="{{event.event_loc_link}}">{{event.event_loc_link}}</a></span></p>
            <p><strong>Skills:</strong> <span id="phone">{{event.event_skills}}</span></p>
            <p><strong>Company Representative:</strong> <span id="phone">{{event.event_rep}}</span></p>
            <!-- <iframe
            width="600"
             height="450"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?q={{event.event_loc_link}}q=bvcfertfdeftygfcxwxedcerxxexxeY"
            allowfullscreen>
            </iframe> -->

            
            {% if request.session.email and request.session.role == "company" and request.session.email == event.company_email %}
            {% comment %} <p><strong>Number of Volunteers Registered:</strong> <span id="phone">{{}}</span></p> {% endcomment %}
           
            <div class="field button-field">
                <button type="submit">Registered Volunteers</button>
            </div>
            {% endif %}
            
        </div>

</body>
</html> 
