{% extends "base.html" %}
{% block title %}Login {% endblock title %}
{% block body %}

<link rel="stylesheet" href="../static/css/Footer.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<footer>
    <div class="footerCoontainer">
        <div class="socialIcons">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-x-twitter"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-github"></i></a>
        </div>

        <div class="footerNav">
            <ul>
                <li><a href="">HOME</a></li>
                <li><a href="">ABOUT</a></li>
                <li><a href="">SERVICES</a></li>
                <li><a href="">CONTACT</a></li>
                <li><a href="">OUR TEAM</a></li>
            </ul>
        </div>

    </div>
    <div class="footerBottom">
        <p>CopyRight &copy;2024; Designed by <span class="designer">Any Time Event Team</span></p>
    </div>
</footer>

{% endblock body %}