<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | Any Time Event</title>
    <link rel="stylesheet" href="../static/css/home.css" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <!-- Navbar -->

    <nav>
        <input type="checkbox" id="check" />
        <label for="check" class="checkbtn">
            <img class="menu" src="../static/img/bars.svg" alt="Bars" />
        </label>
        <label class="logo"><img src="../static/img/Any-Time-Event-Logo.png" alt="Logo" /></label>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="/contact-us">Contact</a></li>
            {% if 'email' in request.session  %}
            {% if request.session.role == "volunteer" %}
                <li><a href="volunteer/">Dashboard</a></li>
            {% else %}
            <li><a href="company/">Dashboard</a></li>
            {% endif %}
            {% endif %}
            {% if 'email' not in request.session  %}
                <button class="log-butt"><a href="/auth/login">Login</a></button>
            {% else %}
                <button class="log-butt"><a href="/auth/logout">Logout</a></button>
            {% endif %}
            </ul>
    </nav>
    {% if messages %}
    {% for message in messages  %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show my-0 py-2" role="alert">
      {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
{% endif %}
    <!-- Hero Message -->

    <div class="hero">
        <div class="hero-content">
            <h1>
                "Be Part of Something Bigger: Join and Organize Local Events Now!"
            </h1>
            <h2>Join us and make a difference in your community today!</h2>
        </div>
    </div>

    <!-- Events Cards -->
    
    <div class="container">
        <div class="event-card">
            <center>
                <div class="event-image"></div>
            </center>
            <div class="event-details">
                <h2>{{ events.1.event_name }}</h2>
                <p>Date & Time: {{events.1.event_date}}, {{events.1.event_time}} - {{events.1.event_end_time}}</p>
                <p>Location: {{events.1.event_location}}</p>
                <button>Apply Now</button>
            </div>
        </div>

        <div class="event-card">
            <center>
                <div class="event-image"></div>
            </center>
            <div class="event-details">
                <h2>{{events.2.event_name}}</h2>
                <p>Date & Time: {{events.2.event_date}}, {{events.2.event_time}} - {{events.2.event_end_time}}</p>
                <p>Location: {{events.2.event_location}}</p>
                <button>Apply Now</button>
            </div>
        </div>

        <div class="event-card">
            <center>
                <div class="event-image"></div>
            </center>
            <div class="event-details">
                <h2>{{events.3.event_name}}</h2>
                <p>Date & Time: {{events.3.event_date}}, {{events.3.event_time}} - {{events.3.event_end_time}}</p>
                <p>Location: {{events.3.event_location}}</p>
                <button>Apply Now</button>
            </div>
        </div>

        <div class="event-card">
            <center>
                <div class="event-image"></div>
            </center>
            <div class="event-details">
                <h2>{{events.4.event_name}}</h2>
                <p>Date & Time: {{events.4.event_date}}, {{events.4.event_time}} - {{events.4.event_end_time}}</p>
                <p>Location: {{events.4.event_location}}</p>
                <button>Apply Now</button>
            </div>
        </div>

        <div class="event-card">
            <center>
                <div class="event-image"></div>
            </center>
            <div class="event-details">
                <h2>{{events.5.event_name}}</h2>
                <p>Date & Time:{{events.5.event_date}}, {{events.5.event_time}} - {{events.5.event_end_time}}</p>
                <p>Location: {{events.5.event_location}}</p>
                <button>Apply Now</button>
            </div>
        </div>

        <div class="event-card">
            <center>
                <div class="event-image"></div>
            </center>
            <div class="event-details">
                <h2>{{events.6.event_name}}</h2>
                <p>Date & Time: {{events.6.event_date}}, {{events.6.event_time}} - {{events.6.event_end_time}}</p>
                <p>Location: {{events.6.event_location}}</p>
                <button>Apply Now</button>
            </div>
        </div>
    </div>
        
    <!-- Clients Review -->

    <div class="reviews-container">
        <h1 class="title">CLIENTS <span class="highlight">REVIEW</span></h1>
        <div class="reviews">
            <div class="review-card">
                <img src="../static/img/Any-Time-Event-Logo.png" alt="Image" class="client-img" />
                <h3 class="client-name">Yagnik Tank</h3>
                <p class="client-status">Happy Client</p>
                <p class="review-text">
                    Lorem Ipsum Dolor Sit, Amet Consectetur Adipisicing Elit. Blanditiis
                    Doloribus Aperiam Officia Culpa Voluptatibus Ea Saepe, Tempora Iusto
                    Ab Laborum Expedita Laboriosam Quis Illo Odio Alias, Assumenda
                    Consequatur Autem Omnis?
                </p>
            </div>
            <div class="review-card">
                <img src="../static/img/Any-Time-Event-Logo.png" alt="Image" class="client-img" />
                <h3 class="client-name">Alpesh Thaker</h3>
                <p class="client-status">Happy Client</p>
                <p class="review-text">
                    Lorem Ipsum Dolor Sit, Amet Consectetur Adipisicing Elit. Blanditiis
                    Doloribus Aperiam Officia Culpa Voluptatibus Ea Saepe, Tempora Iusto
                    Ab Laborum Expedita Laboriosam Quis Illo Odio Alias, Assumenda
                    Consequatur Autem Omnis?
                </p>
            </div>
            <div class="review-card">
                <img src="../static/img/Any-Time-Event-Logo.png" alt="Image" class="client-img" />
                <h3 class="client-name">Umang Shah</h3>
                <p class="client-status">Happy Client</p>
                <p class="review-text">
                    Lorem Ipsum Dolor Sit, Amet Consectetur Adipisicing Elit. Blanditiis
                    Doloribus Aperiam Officia Culpa Voluptatibus Ea Saepe, Tempora Iusto
                    Ab Laborum Expedita Laboriosam Quis Illo Odio Alias, Assumenda
                    Consequatur Autem Omnis?
                </p>
            </div>
        </div>
    </div>

    <!-- About us -->

    <div class="about-us-container">
        <h1 class="title">ABOUT US</h1>
        <div class="about-us-content">
            <img src="corporate-events-3.jpg" alt="Event Image" class="about-us-image" />
            <div class="about-us-info">
                <h2>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis.
                </h2>
                <p>
                    Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elit.
                    Repellendus Alias Dolor Veniam, Hic Eum Architecto, Qui Laudantium
                    Magnam Illo Labore Veritatis Blanditiis Voluptatem Numquam Magni
                    Eaque Atque Reprehenderit Doloribus Totam.
                </p>
                <p>
                    Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit. Velit Ad
                    Pariatur Enim Aperiam Quam Animi Earum? Eos Ea Suscipit Dolor?
                </p>
                <button>Contact Us</button>
            </div>
        </div>
    </div>

    <!-- Footer -->

    <footer>
        <div class="footerCoontainer">
            <div class="socialIcons">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-github"></i></a>
            </div>

            <div class="footerNav">
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="">ABOUT</a></li>
                    <li><a href="">SERVICES</a></li>
                    <li><a href="">CONTACT</a></li>
                    <li><a href="">OUR TEAM</a></li>
                </ul>
            </div>
        </div>
        <div class="footerBottom">
            <a href="#">Terms & Conditions</a> | <a href="#">Privacy Policy</a>
            <p>
                CopyRight &copy;2024; Designed by
                <span class="designer">ANY TIME EVENT</span>
            </p>
        </div>
    </footer>

</body>

</html>