<!--Company Navbar Extended-->
{% extends "company_dashboard.html" %}
{% block title %}Volunteers List{% endblock %}
{% block body %}
<head>
    <!--Linked CSS files-->
    <link rel="stylesheet" href="/static/css/volunteers_list.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <h1>Total Volunteers: {{ length }} / {{ event.event_vol }}</h1>
        {% if not volunteers %}
        <p><center>No Registered Volunteers found !!!</center></p>
        {% else %}
        <h1>Volunteers List</h1>
            <table class="table">
            <!--Table which displays Volunteer List-->
            <thead>
                <tr>
                    <th>Profile</th>
                    <th>Volunteer ID</th>
                    <th>Volunteer Name</th>
                    <th>Volunteer Email</th>
                    <th>Volunteer Phone</th>
                    <th>Skills</th>
                    <th class="field button-field">Attendance</th>
                </tr>
            </thead>
            <tbody>
                {% for volunteer in volunteers %}
                <tr>
                    <td><a href="/volunteer/profile/{{ volunteer.vol_id }}">Visit Profile</a></td>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ volunteer.name }}</td>
                    <td>{{ volunteer.email }}</td>
                    <td>{{ volunteer.phone }}</td>
                    <td>{{ volunteer.skills }}</td>
                    {% if volunteer.attendence != "present" and volunteer.attendence != "absent" %}
                    <td class="field">
                        <!--Mark attendence of volunteer Present if volunteer attended event else mark Absent-->
                        <button type="button" name="Present">
                            <a href="/company/present/{{ volunteer.event_id_1 }}/{{ volunteer.email }}">Present</a>
                        </button>
                        <button class="absent" type="button" name="Absent">
                            <a href="/company/absent/{{ volunteer.event_id_1 }}/{{ volunteer.email }}">Absent</a>
                        </button>
                    </td>
                    {% else %}
                    <td>
                        <p>Attendance Already Marked</p>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <!--End of Table -->
    </div>
</body>
{% endblock %}
