{% extends "base.html" %}
{% block title %}Login {% endblock title %}
{% block body %}

<link rel="stylesheet" href="../static/css/Log-In.css">

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<section class="container forms">
    <div class="form login">
        <div class="form-content">
            <header>Login</header>

            <form action="#">
                <div class="field input-field">
                    <input type="email" placeholder="Email" class="input">
                </div>

                <div class="field input-field">
                    <input type="password" placeholder="Password" class="password" id="passwordField">
                    <i class='bx bx-hide eye-icon' id="togglePassword"></i>
                </div>

                <div class="form-link">
                    <a href="#" class="forgot-pass">Forgot Password?</a>
                </div>

                <div class="field button-field">
                    <button>Login</button>
                </div>
            </form>

            <div class="form-link">
                <span>Don't have an Account ?</span> <a href="#" class="signup-link">Signup</a>
            </div>
        </div>

        <div class="line"></div>

        <div class="media-options">
            <a href="#" class="field facebook">
                <i class='bx bxl-facebook facebook-icon'></i>
                <span>Login with Facebook</span>
            </a>
        </div>

        <div class="media-options">
            <a href="#" class="field google">
                <img src="Images/Google-Logo.jpg" alt="Google_Logo" class="google-img">
                <span>Login with Google</span>
            </a>
        </div>
    </div>
</section>

<script src="../static/js/Log-In.js"></script>
{% endblock body %}