{% extends "base.html" %}
{% block body %}
<nav>
    <input type="checkbox" id="check" />
    <label for="check" class="checkbtn">
      <img class="menu" src="../static/img/bars.svg" alt="Bars" />
    </label>
    <label class="logo">Logo</label>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Contact</a></li>
      <button class="log-butt"><a href="#">Login</a></button>
    </ul>
  </nav>
{% endblock body %}