{% extends "base.html" %}
{% block title %}Our Team {% endblock title %}
{% block body %}
{% if messages %}
  {% for message in messages %}
    <div class="custom-alert custom-alert-{{ message.tags }}">
      {{ message }}
      <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
    </div>
  {% endfor %}
{% endif %}


<link rel="stylesheet" href="/static/css/Our_Team.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="container">
    <div class="title">Our Team</div>
    <div class="row">
        <div class="card">
            <div class="image-crop">
                <img src="/static/img/Any-Time-Event-Logo.png" alt="Alex Smith">
            </div>
            <h2>Vedant Tuvar</h2>
            <p class="position">Frontend Developer</p>
            <p>Vedant Tuvar specializes in creating seamless and interactive User Interfaces. With expertise in HTML, CSS, and JavaScript. He ensures that our Web Applications are both functional and visually appealing. He creates responsive and user-friendly Web Interfaces.Passionate about User Experience and latest Frontend trends.</p>
            <div class="social">
                <a href="https://www.linkedin.com/in/vedant-tuvar/"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://twitter.com/VTuvar32165"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="https://www.instagram.com/vedant_tuvar_27/"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://github.com/VedantTuvar"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
        <div class="card">
            <div class="image-crop">
                <img src="/static/img/Any-Time-Event-Logo.png" alt="May Brown">
            </div>
            <h2>Deep Shah</h2>
            <p class="position">Backend Developer</p>
            <p> Deep Shah is our skilled Backend Developer, responsible for building and maintaining the Server-side logic of our Application. With expertise in Databases, Server Scripting, and API Integration, Deep Shah ensures our systems are robust, efficient, and scalable. He is passionate about optimizing performance.</p>
            <div class="social">
                <a href="https://www.linkedin.com/in/deep-shah23/"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://x.com/dpshah2307"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="https://www.instagram.com/dpshah2307/"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://github.com/dpshah23"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
        <div class="card">
            <div class="image-crop">
                <img src="/static/img/Any-Time-Event-Logo.png" alt="Ann Richmond">
            </div>
            <h2>Nakshi Shah</h2>
            <p class="position">Backend Developer</p>
            <p>Nakshi Shah is an experienced Backend skilled developer. She specializes in Database Design, API Development, and integrating with Frontend technologies. Focusing on performance and User Experience, she is dedicated to optimizing performance.She is dedicated to optimizing performance.</p>
            <div class="social">
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="image-crop">
                <img src="/static/img/Any-Time-Event-Logo.png" alt="Roxie Swanson">
            </div>
            <h2>Mishty Vadera</h2>
            <p class="position">Frontend Developer</p>
            <p> Mishty Vadera is a skilled Frontend Developer proficient in HTML and CSS. She creates user-friendly web interfaces, optimizing performance and enhancing user experience. Mishty ensures seamless integration with backend services and strives to create intuitive, accessible applications.</p>
            <div class="social">
                <a href="www.linkedin.com/in/mishty-vadera"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://x.com/vaderamishty?t=iqiwWIrhjBxsNhM6KrROPA&s=09"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="https://www.instagram.com/mishtyvadera06/"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://GitHub.com/mishty06"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
        <div class="card">
            <div class="image-crop">
                <img src="/static/img/Any-Time-Event-Logo.png" alt="Another Member">
            </div>
            <h2>Het Shah</h2>
            <p class="position">Tester</p>
            <p> Het Shah is a dedicated Tester ensuring Software Quality and Functionality. He designs and executes Test plans, Identifies Bugs, and collaborates with developers to resolve issues. Skilled in Manual and Automated testing. Het Shah ensures high performance, security, and User Experience Standards.</p>
            <div class="social">
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
    </div>
</div>

{% endblock body %}