{% extends "base.html" %}
{% block title %}Our Team {% endblock title %}
{% block body %}
{% if messages %}
  {% for message in messages %}
    <div class="custom-alert custom-alert-{{ message.tags }}">
      {{ message }}
      <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
    </div>
  {% endfor %}
{% endif %}


<link rel="stylesheet" href="/static/css/Our_Team.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="container">
    <div class="title">Our Team</div>
    <div class="row">
        <div class="card">
            <div class="image-crop">
                <img src="/static/img/Any-Time-Event-Logo.png" alt="Alex Smith">
            </div>
            <h2>Vedant Tuvar</h2>
            <p class="position">Frontend Developer</p>
            <p>Vedant Tuvar focuses on designing user interfaces that are both smooth and engaging. Skilled in HTML, CSS, and JavaScript, he works to make our web applications functional and visually appealing. Vedant is dedicated to building responsive and user-friendly web interfaces and ensures seamless integration with backend services.</p>
            <div class="social">
                <a href="https://www.linkedin.com/in/vedant-tuvar/"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://twitter.com/VTuvar32165"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="https://www.instagram.com/vedant_tuvar_27/"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://github.com/VedantTuvar"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
        <div class="card">
            <div class="image-crop">
                <img src="/static/img/Any-Time-Event-Logo.png" alt="May Brown">
            </div>
            <h2>Deep Shah</h2>
            <p class="position">Backend Developer</p>
            <p> Deep Shah is one of our skilled backend developers, responsible for building and maintaining the server-side logic of our application. He works closely with the front-end team, mainly writing the logic and handling API and database operations.</p>
            <div class="social">
                <a href="https://www.linkedin.com/in/deep-shah23/"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://x.com/dpshah2307"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="https://www.instagram.com/dpshah2307/"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://github.com/dpshah23"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
        <div class="card">
            <div class="image-crop">
                <img src="/static/img/Any-Time-Event-Logo.png" alt="Ann Richmond">
            </div>
            <h2>Nakshi Shah</h2>
            <p class="position">Backend Developer</p>
            <p>Nakshi Shah is an experienced backend developer specializing in database design and integrating with frontend technologies. Focusing on performance and user experience, she is dedicated to optimizing performance.</p>
            <div class="social">
                <a href="www.linkedin.com/in/nakshi-shah"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="https://www.instagram.com/nakshi_shah31/"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://github.com/Nakshishah31"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="image-crop">
                <img src="/static/img/Any-Time-Event-Logo.png" alt="Roxie Swanson">
            </div>
            <h2>Mishty Vadera</h2>
            <p class="position">Frontend Developer</p>
            <p> Mishty Vadera is a frontend developer proficient in HTML and CSS. She focuses on creating user-friendly web interfaces, optimizing performance, and enhancing user experience. Mishty strives to develop intuitive and accessible applications.</p>
            <div class="social">
                <a href="www.linkedin.com/in/mishty-vadera"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://x.com/vaderamishty?t=iqiwWIrhjBxsNhM6KrROPA&s=09"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="https://www.instagram.com/mishtyvadera06/"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://GitHub.com/mishty06"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
        <div class="card">
            <div class="image-crop">
                <img src="/static/img/Any-Time-Event-Logo.png" alt="Another Member">
            </div>
            <h2>Het Shah</h2>
            <p class="position">Tester</p>
            <p> 
                Het Shah is a dedicated tester focused on ensuring software quality and functionality. He designs and executes test plans, identifies bugs, and collaborates with developers to resolve issues. Het ensures high performance, security, and user experience standards are met while communicating effectively with both frontend and backend teams.
            <div class="social">
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
    </div>
</div>

{% endblock body %}