<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="../static/css/profile.css">
</head>
<body>
    <div class="profile-container">
        {% if request.session.role == "company" %}
        <div class="profile-header">
            <img src="data:image/png;base64,{{data.logo}}" width="80px" heigth="80" alt="Profile Picture" class="profile-picture" id="profile-picture">
        </div>
        <div class="profile-details">
            <h2>Company Information</h2>
            <p><strong>Name:</strong> <span id="phone">{{data.name}}</span></p>
            <p><strong>Email:</strong> <span id="email">{{data.email}}</span></p>
            <p><strong>Phone:</strong> <span id="phone">{{data.phone1}}</span></p>
            <p><strong>Website:</strong> <span id="website">{{data.website}}</span></p>
            <p><strong>Address:</strong> <span id="address">{{data.address}}</span></p>
            <p><strong>Bio:</strong> <span id="phone">{{data.description}}</span></p>
        </div>
        {% else %}
        <div class="profile-header">
            <img src="data:image/png;base64,{{obj.profile_pic}}" width="80px" heigth="80" alt="Profile Picture" class="profile-picture" id="profile-picture">
            </div>
            <div class="profile-details">
                <h2>Volunteer Information</h2>
                <p><strong>Name:</strong> <span id="phone">{{obj.name}}</span></p>
                <p><strong>Email:</strong> <span id="email">{{obj.email}}</span></p>
                <p><strong>Phone:</strong> <span id="phone">{{obj.phone}}</span></p>
                <p><strong>Date Of Birth:</strong> <span id="dob">{{obj.dob}}</span></p>
                <p><strong>Skills:</strong> <span id="skills">{{obj.skills}}</span></p>
                <p><strong>Qualification:</strong> <span id="qua">{{obj.qualification}}</span></p>
                <p><strong>Experience:</strong> <span id="qua">{{obj.experience}}</span></p>
                <p><strong>Description:</strong> <span id="des">{{obj.description}}</span></p>
                <p><strong>UPI Id:</strong> <span id="upi">{{obj.upi}}</span></p>
                <p><strong>City:</strong> <span id="city">{{obj.city}}</span></p>


        {% endif %}
    <script src="script.js"></script>
</body>
</html> 
