<!--Extending volunteer navber-->
{% extends "volunteer/basevol.html" %}
{% block title %}Profile {% endblock title %}
{% block body %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Profile Page</title>
<!--Linked CSS file-->
<link rel="stylesheet" href="/static/css/profile.css">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css" />
<!--Alert Message will be displayed if any activity takes place -->
{% if messages %}
{% for message in messages %}
<script>
    alert("{{message}}");
</script>
{% endfor %}
{% endif %}

<div class="profile-container">
    <div class="profile-header">
        <img src="data:image/png;base64,{{obj.profile_pic}}" width="80px" heigth="80" alt="Profile Picture" class="profile-picture" id="profile-picture">
        </div>
        <div class="profile-details">
            <!--volunteer details are displayed here-->
            <h2>Volunteer Information</h2>
            <p><strong>Name:</strong> <span id="phone">{{obj.name}}</span></p>
            <p><strong>Email:</strong> <span id="email">{{obj.email}}</span></p>
            <p><strong>Phone:</strong> <span id="phone">{{obj.phone}}</span></p>
            <p><strong>Date Of Birth:</strong> <span id="dob">{{obj.dob}}</span></p>
            <p><strong>Skills:</strong> <span id="skills">{{obj.skills}}</span></p>
            <p><strong>Qualification:</strong> <span id="qua">{{obj.qualification}}</span></p>
            <p><strong>Experience:</strong> <span id="qua">{{obj.experience}}</span></p>
            <p><strong>Description:</strong> <span id="des">{{obj.description}}</span></p>
            <p><strong>Total Attended Events:</strong> <span id="des">{{totalattendedevent}}</span></p>
            {% if request.session.email == obj.email %}
            
            <p><strong>UPI Id:</strong> <span id="upi">{{obj.upi}}</span></p>
            
            {% endif %}
            <p><strong>City:</strong> <span id="city">{{obj.city}}</span></p>
        </div>
              <!--If registering email id is same as viewing email id then user is allowed to change/update their details-->
        {% if request.session.email == obj.email %}
        <div class="field button-field">
            <a href="/volunteer/editprofile/{{obj.vol_id}}"> <button type="button">Edit Details </button></a>
        </div>
        {% endif %}

<script src="script.js"></script>
{% endblock body %}
</html> 
