    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="/static/css/profile.css">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css" />
<style>
  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

  body {
    font-family: sans-serif;
    background-color: #f0ece2;
    overflow-x: hidden;
  }

  ::selection {
    background-color: #006989;
    color: #fff;
}

  nav {
    background: #dfd3c3;
    height: 80px;
    width: 100%;
    z-index: 10;
    position: relative;
  }

  label.logo {
    color: #000000;
    font-size: 37px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }

  label.logo img {
    height: 72px;
    margin-top: 3px;
  }

  nav ul {
    float: right;
    margin-right: 20px;
  }

  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }

  nav ul li a {
    color: #006989;
    font-size: 18px;
    text-transform: uppercase;
    padding: 7px 13px;
    font-weight: 550;
  }

  a:hover {
    text-decoration: underline;
    transition: 0.1s ease-in;
  }

  .checkbtn {
    float: right;
    line-height: 80px;
    margin-right: 40px;
    margin-top: 7px;
    cursor: pointer;
    display: none;
  }

  #check {
    display: none;
  }

  .menu {
    height: 2rem;
    width: 2rem;
  }

  .log-butt {
    height: 2.5rem;
    width: 5rem;
    font-size: 19px;
    font-weight: bold;
    margin-left: 5rem;
    border-radius: 8px;
    background-color: #006989;
    color: #ffffff;
    overflow: hidden;
    border: 1px  solid  #006989;
  }

  .log-butt a {
    text-decoration: none;
    color: inherit;
  }

  @media (max-width: 952px) {
    label.logo {
      font-size: 30px;
      padding-left: 50px;
    }

    nav ul li a {
      font-size: 16px;
    }

    .log-butt {
      height: 2rem;
      width: 4.2rem;
      font-size: 18px;
    }
  }

  @media (max-width: 858px) {
    .checkbtn {
      display: block;
    }

    ul {
      position: fixed;
      width: 15rem;
      height: 100vh;
      background-color: #f0f0f0;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: 0.5s all;
      z-index: 10;
    }

    nav ul li {
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }

    nav ul li a {
      font-size: 20px;
    }

    a:hover,
    a.check {
      background: none;
      color: black;
    }

    #check:checked~ul {
      left: 0;
    }

    .log-butt {
      margin-left: 0rem;
      height: 3rem;
      width: 6rem;
      font-weight: bold;
      font-size: 22px;
      background-color: #639bc6;
    }
  }


</style>
<!-- <link rel="stylesheet" href="../static/css/event_history.css"> -->
<script defer src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
<title>{{company_name}} | Edit Details</title>
</head>

<body>
<nav>
  <input type="checkbox" id="check" />
  <label for="check" class="checkbtn">
    <img class="menu" src="../static/img/bars.svg" alt="Bars" />
  </label>
  <label class="logo"><img src="/static/img/Any-Time-Event-Logo.png" alt="Logo"></label>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/company/add_event">Add Event</a></li>
    <li><a href="/company/profile/{{obj.comp_id}}">Profile</a></li>
    <li><a href="/contact-us">Contact</a></li>
    {% if 'email' not in request.session %}
    <button class="log-butt"><a href="/auth/login">Login</a></button>
    {% else %}
    <button class="log-butt"><a href="/auth/logout">Logout</a></button>
    {% endif %}
  </ul>
</nav>

    {% if messages %}
    {% for message in messages %}
    <script>
        alert("{{message}}");
    </script>
    {% endfor %}
    {% endif %}
    
    <div class="profile-container">
        {% if request.session.role == "company" %}
        <div class="profile-header">
            <img src="data:image/png;base64,{{data.logo}}" width="80px" heigth="80" alt="Profile Picture" class="profile-picture" id="profile-picture">
        </div>
        <div class="profile-details">
            <h2>Company Information</h2>
            <p><strong>Name:</strong> <span id="phone">{{data.name}}</span></p>
            <p><strong>Email:</strong> <span id="email">{{data.email}}</span></p>
            <p><strong>Phone:</strong> <span id="phone">{{data.phone1}}</span></p>
            <p><strong>Website:</strong> <span id="website">{{data.website}}</span></p>
            <p><strong>Address:</strong> <span id="address">{{data.address}}</span></p>
            <p><strong>Bio:</strong> <span id="phone">{{data.description}}</span></p>
        </div>

        {% if request.session.email == data.email %}
        <div class="field button-field">
          <a href="/company/editprofile/{{data.comp_id}}"> <button type="button">Edit Details </button></a>
        </div>
        
        {% endif %}
        {% else %}
        <div class="profile-header">
            <img src="data:image/png;base64,{{obj.profile_pic}}" width="80px" heigth="80" alt="Profile Picture" class="profile-picture" id="profile-picture">
            </div>
            <div class="profile-details">
                <h2>Volunteer Information</h2>
                <p><strong>Name:</strong> <span id="phone">{{obj.name}}</span></p>
                <p><strong>Email:</strong> <span id="email">{{obj.email}}</span></p>
                <p><strong>Phone:</strong> <span id="phone">{{obj.phone}}</span></p>
                <p><strong>Date Of Birth:</strong> <span id="dob">{{obj.dob}}</span></p>
                <p><strong>Skills:</strong> <span id="skills">{{obj.skills}}</span></p>
                <p><strong>Qualification:</strong> <span id="qua">{{obj.qualification}}</span></p>
                <p><strong>Experience:</strong> <span id="qua">{{obj.experience}}</span></p>
                <p><strong>Description:</strong> <span id="des">{{obj.description}}</span></p>
                {% if request.session.email == obj.email %}
                
                <p><strong>UPI Id:</strong> <span id="upi">{{obj.upi}}</span></p>
                
                {% endif %}
                <p><strong>City:</strong> <span id="city">{{obj.city}}</span></p>
            </div>
            {% if request.session.email == obj.email %}
            <div class="field button-field">
                <a href="/volunteer/editprofile/{{obj.vol_id}}"> <button type="button">Edit Details </button></a>
            </div>
            {% endif %}

        {% endif %}
    <script src="script.js"></script>
</html> 
