<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="../static/css/profile.css">
</head>
<body>
    <div class="profile-container">
        <div class="profile-header">
            <img src="" alt="Profile Picture" class="profile-picture" id="profile-picture">
        </div>
        <div class="profile-details">
            <h2>Personal Information</h2>
            <p><strong>Name:</strong> <span id="phone">{{user1.name}}</span></p>
            <p><strong>Email:</strong> <span id="email">{{user1.email}}</span></p>
            <p><strong>Phone:</strong> <span id="phone">{{user1.phone}}</span></p>
            <p><strong>Gender:</strong> <span id="phone">{{user1.gender}}</span></p>
            <p><strong>Age:</strong> <span id="phone">{{user1.age}}</span></p>
            <p><strong>Bio:</strong> <span id="phone">{{user1.description}}</span></p>
        </div>

    <script src="script.js"></script>
</body>
</html> 
