{% extends "base.html" %}
{% block title %}Our Services {% endblock title %}
{% block body %}
{% if messages %}
  {% for message in messages %}
    <div class="custom-alert custom-alert-{{ message.tags }}">
      {{ message }}
      <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
    </div>
  {% endfor %}
{% endif %}


<link rel="stylesheet" href="/static/css/Our_Services.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
crossorigin="anonymous" referrerpolicy="no-referrer" />

<div id="services" class="container">
    <h1>Our Services</h1>
    <p>Discover a seamless platform where companies and volunteers connect for meaningful opportunities.</p>
    <div class="services-grid">
        <div class="service-item">
            <i class="fa-solid fa-users"></i>
            <h3>Connection</h3>
            <p>Easily post and manage volunteer opportunities, both paid and unpaid, to connect with passionate
                volunteers and freelancers.
            </p>
        </div>
        <div class="service-item">
            <i class="fa-solid fa-gear"></i>
            <h3>Management Tools</h3>
            <p>Utilize robust tools to handle job postings, communicate with applicants, and ensure smooth
                collaboration.
            </p>
        </div>
        <div class="service-item">
            <i class="fa-solid fa-user-gear"></i>
            <h3>Experience and Impact</h3>
            <p>Opportunities for volunteers to gain experience, earn money, and make a positive impact in the
                community.
            </p>
        </div>
        <div class="service-item">
            <i class="fa-solid fa-handshake"></i>
            <h3>User-Friendly Interface</h3>
            <p>Designed for ease of use, our platform supports seamless interaction for both companies and
                volunteers.
            </p>
        </div>
        <div class="service-item">
            <i class="fa-solid fa-people-roof"></i>
            <h3>Community Building</h3>
            <p>Join a network dedicated to personal growth, professional development, and making a difference.
            </p>
        </div>
        <div class="service-item">
            <i class="fa-solid fa-credit-card"></i>
            <h3>Secure Transaction</h3>
            <p>Ensure all paid volunteer opportunities are handled securely with reliable payment processing.</p>
        </div>
    </div>
    <a href="#" class="learn-more">Learn More</a>
</div>

{% endblock body %}