{% extends "base.html" %}
{% block title %}Login {% endblock title %}
{% block body %}

<link rel="stylesheet" href="../static/css/Sign-up.css">

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<section class="container forms">
    <div class="form login">
        <div class="form-content">
            <header>Sign-Up</header>

            <form action="#">
                <div class="field input-field">Name
                    <input type="text"  class="input" required>
                </div><br>

                <div class="field input-field">Contact No.
                    <input type="number"  class="input" required>
                </div><br>
                <div class="field input-field">Email
                    <input type="email"  class="input" required>
                </div><br>

                <div class="field input-field">Password
                    <input type="password"  class="password" id="password" required>
                    <i class='bx bx-hide eye-icon' onclick="togglePassword('password', this)"></i>
                </div><br>

                <div class="field input-field">Confirm Password
                    <input type="password"  class="password" id="confirm-password" required>
                    <i class='bx bx-hide eye-icon' onclick="togglePassword('confirm-password', this)"></i>
                </div><br>
                <div class="field input-field"> 
                    <label for="role">Role:</label>
                    <select name="role" id="role" required>
                        <option value="company">Company</option>
                        <option value="volunteer">Paid Volunteer</option>
                    </select>
                    </div>
                    
                <div class="field button-field">
                    <button>Next</button>
                </div>
            </form>

            <div class="form-link">
                <span>Already have an Account ?</span> <a href="/auth/login" class="signup-link">Login
            </div>
        </div>
        
    </div>
</section>

<script src="../static/js/Sign-up.js"></script>
{% endblock body %}