{% extends "base.html" %}
{% block title %}Paid Volunteers {% endblock title %}
{% block body %}
{% if messages %}
      {% for message in messages  %}
      <div class="alert alert-{{message.tags}} alert-dismissible fade show my-0 py-2" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
{% endif %}

<link rel="stylesheet" href="../static/css/user_data.css">

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<section class="container forms">
    <div class="form login">
        <div class="form-content">
            <header>Sign-Up</header>

            <form action="{% url "volunteerinfo" %}" method='post' enctype='multipart/form-data'>
                {% csrf_token %}
                <div class="field input-field">Date of Birth
                    <input type="date" name="dob" class="input" id="birthdate">
                </div>
                <div class="field input-field">Experience
                    <textarea  class="input" name="experience" required style=" border: 1px solid #d2d4dc;max-width: 500px;"></textarea>
                </div>

                <div class="field input-field">Skills
                    <textarea  class="input" name="skills" required style=" border: 1px solid #d2d4dc;max-width: 500px;"></textarea>
                </div>
     
                <div class="field input-field">Qualification
                    <div class="field input-field"> 
                        <select name="qualification" id="qualification" required>
                            <option name="qualification" value="employee">Employee</option>
                            <option name="qualification" value="student">Student</option>
                            <option name="qualification" value="volunteer">Others</option>

                        </select>
                        </div>
                    </div><br>
               </div> 

               <div class="field input-field">Emergency Contact no.
                <input type="number" name="emergency_no" class="input" required >
            </div>

        <div class="field input-field">Profile Picture
            <input type="file" name="profile_picture" enctype="multipath\form-data" class="input" required >
        </div>

        <div class="field input-field">Identity Proof
            <input type="file" name="identity_proof"  enctype="multipath\form-data" class="input" required >
        </div>
         

         <div class="field input-field">UPI ID
            <input type="text" name="upi_id" class="input" placeholder="UserName@Bank" required >
            </div><br>
<p>*Image should be of .png , .jpg , .jpeg only</p>
                <div class="field button-field">
                   <button value="submit" name="submit_user_data">Sign Up </button>
                </div>
            </form>

        </div>
        
    </div>
</section>

<script>
    document.getElementById('birthdate').addEventListener('change', function() {
        console.log(this.value);
        var birthdate = new Date(this.value);
        var minDate = new Date();
        minDate.setFullYear(minDate.getFullYear() - 16);
        
        if (birthdate > minDate) {
            alert('Please select a birthdate that makes you at least 16 years old.');
            this.value = '';
        }
    });
    </script>   

<script src="../static/js/Sign-up.js"></script>
{% endblock body %}