{% extends "base.html" %}
{% block title %}Paid Volunteers {% endblock title %}
{% block body %}
{% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{message.tags}} alert-dismissible fade show my-0 py-2" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
{% endif %}

<link rel="stylesheet" href="../static/css/user_data.css">

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<section class="container forms">
    <div class="form login">
        <div class="form-content">
            <header>Sign-Up</header>

            <form action="{% url "volunteerinfo" %}" method='post' enctype='multipart/form-data'>
                {% csrf_token %}
                <div class="field-group">
                    <div class="field input-field">
                        <label for="birthdate">Date of Birth</label>
                        <input type="date" name="dob" class="input" id="birthdate" required>
                    </div>
                    <div class="field input-field">
                        <label for="upi_id">UPI ID</label>
                        <input type="text" name="upi_id" class="input" placeholder="UserName@Bank" required>
                    </div>
                    <div class="field input-field">
                        <label for="experience">Experience</label>
                        <textarea class="input" name="experience" required></textarea>
                    </div>
                </div>

                <div class="field-group">
                    <div class="field input-field">
                        <label for="emergency_no">Emergency Contact No.</label>
                        <input type="number" name="emergency_no" class="input" id="emergency_no" required>
                    </div>
                    <div class="field input-field">
                        <label for="skills">Skills</label>
                        <textarea class="input" name="skills" required></textarea>
                    </div>
                    <div class="field input-field">
                        <label for="identity_proof">Identity Proof</label>
                        <input type="file" name="identity_proof" class="input" required>
                    </div>
                </div>

                <div class="field-group">
                    <div class="field input-field">
                        <label for="qualification">Qualification</label>
                        <select name="qualification" id="qualification" required>
                            <option value="employee">Employee</option>
                            <option value="student">Student</option>
                            <option value="volunteer">Others</option>
                        </select>
                    </div>
                    <div class="field input-field">
                        <label for="city">City</label>
                        <input type="text" name="city" class="input" required>
                    </span>
                </div>
                <div class="field input-field">
                    <label for="profile_picture">Profile Picture</label>
                    <input type="file" name="profile_picture" class="input" required>
                    <span class="right-text"><p>*Image should be of .png, .jpg, .jpeg only</p>
                    </div>
                </div>

                <div class="terms-conditions">
                    <input type="checkbox" id="terms_conditions" name="terms_conditions" required>
                    <label for="terms_conditions">I agree to the <a href="#">Terms & Conditions</a> and <a href="#">Privacy Policy</a></label>
                </div>

                <div class="field button-field">
                    <button value="submit" name="submit_user_data">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</section>

<script src="../static/js/user_data.js"></script>
{% endblock body %}

