{% extends "base.html" %}
{% block title %}Login {% endblock title %}
{% block body %}

<link rel="stylesheet" href="../static/css/user_data.css">

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<section class="container forms">
    <div class="form login">
        <div class="form-content">
            <header>Sign-Up</header>

            <form action="#">
                <div class="field input-field">Date of Birth
                    <input type="date"  class="input" >
                </div><br>
                <div class="field input-field">Experience
                    <textarea  class="input" required style=" border: 1px solid #d2d4dc;"></textarea>
                </div><br>

                <div class="field input-field">Skills
                    <textarea  class="input" required style=" border: 1px solid #d2d4dc;"></textarea>
                </div><br>
     
                <div class="field input-field">Qualification
                    <div class="field input-field"> 
                        <select name="qualification" id="qualification" required>
                            <option value="employee">Employee</option>
                            <option value="student">Student</option>
                            <option value="volunteer"></option>

                        </select>
                        </div>
                    </div><br>
                   
                <div class="field button-field">
                    <a href="../templates/user_data2.html" style="font-size: 27px;"> Next <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                      </svg></a>
                </div>
            </form>

        </div>
        
    </div>
</section>

<script src="../static/js/Sign-up.js"></script>
{% endblock body %}