{% extends "base.html" %}
{% block title %}Login {% endblock title %}
{% block body %}

<link rel="stylesheet" href="../static/css/user_data.css">

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<section class="container forms">
    <div class="form login">
        <div class="form-content">
            <header>Sign-Up</header>

            <form action="#">
                <div class="field input-field">Emergency Contact no.
                    <input type="number" name="emergency_no" class="input" required >
                </div><br>

            <div class="field input-field">Profile Picture
                <input type="file" name="profile_picture" class="input" required >
            </div><br>

            <div class="field input-field">Identity Proof
                <input type="file" name="identity_proof" class="input" required >
            </div><br>
             

             <div class="field input-field">UPI ID
                <input type="file" name="upi_id" class="input" required >
                </div><br>
                   
                <div class="field button-field">
                    <button>SignUp</button>
                </div>
            </form>

        </div>
        
    </div>
</section>

<script src="../static/js/Sign-up.js"></script>
{% endblock body %}