{% extends "base.html" %}
{% block title %}Login {% endblock title %}
{% block body %}

{% if messages %}
      {% for message in messages  %}
      <div class="alert alert-{{message.tags}} alert-dismissible fade show my-0 py-2" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
{% endif %}


<link rel="stylesheet" href="../static/css/OTP.css">

<div class="container">
    <h2>OTP Verification</h2>
    <form id="otpForm" action={% url "validate" %} method="post">
        {% csrf_token %}
        <input type="text" id="otpInput" maxlength="6"  name="otp" placeholder="Enter OTP" required>
        <button type="submit">Verify OTP</button>
    </form>
    <p id="message"></p>
</div>

<script src="../static/js/OTP.js"></script>
{% endblock body %}